.idea/
**/*.zip
**/venv37/
**/venv/
**/__pycache__/
**/.cache/
.vscode
bastion/temp*
temp
temp.pub
.DS_Store

*.zip
build
node_modules
.pulumi
test-input.json
venv
Pulumi*fos*
/.idea/
/.vs/
/**/Pulumi.*.yaml

pulumi_output.json

**/not_needed
/localstack_tmp/
